body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /* 1em = 16px; 16px = 100% */
    color:#66BFBF;
    line-height: 2;
}

h2,h3{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
}

h3,a{
    color:#11999E;
}

.underline{
    text-decoration: underline;
}

.top-container{
    background-color: #EaF6F6;
    position:relative;
    padding:100px 0;
}

p{
    line-height: 2;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
  width:5%;
}

.bottom-cloud{
    position:absolute;
    left:300px;
    bottom: 300px;
    width: 5%;
}

hr{
    border:none;
    border-top-style:dotted;
    border-top-width: 10px;
    width:7%;
    border-color: #EAF6F6;
}

.skill-row{
    width: 40%;
    margin: 150px auto 150px auto;
    text-align: left;
    color:#40514E;
}

.profile{
    width: 50%;
    margin: 100px auto;
}

.profile-image{
    width: 25%;
}

.coding-image{
    width:25%;
    float:left;
    margin: auto 30px auto auto;
}

.analysis-image{
    width:25%;
    float:right;
    margin: auto auto auto 30px;
}

.contact-me{
    padding:5% 30% 0 30%;
}

.bottom-container{
    background-color:#66BFBF;
    padding:50px;
    color:#EAF6F6;
}

.footer-link{
    font-size:1.5rem;
    margin:10px;
}

a:hover{
    color: red;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin:40px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .navigate{
    background-color: #EaF6F6;
    position:relative;
    padding:10px;
  }

  a.nav-link{
    color: #40514E;
  }

  a.nav-link:hover{
    color: #000;
  }

  a.active{
    background-color: #11cdd4 !important;
  }

  div.tools{
    position:relative;
    left:1%;
  }

  p.skill-set img, div.tools img{
    width: 5%;
    margin: 5px;
  }

  .portfolio{
    padding:5% 30% 0 30%;
    border-bottom:1px solid #40514E;
}

.portfolio h3{
    position: relative;
    left: 10%;
}

.portfolio-text img{
    width:15%;
    float:left;
    margin: auto 30px auto auto;
}

.border-line{
    border: 1px solid #40514E;
    width:40%;
}

.mobileapps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 10px;
}

.mobileapps img{
    width: 100%;
}